@font-face { 
     font-family:'fatemeh';
	 src :url('fonts/vazir.woff') format('woff');
	 
}
body , html {
	height:100%;
	margin:0px 0px;
	color:#777;
}
.bgimg-1 , .bgimg-2 , .bgimg-3 {
	position:relative;
	opacity:0.65;
	background-attachment:fixed;
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
}
.bgimg-1 {
	background-image:url('yogagirl.WEBP');
	min-height:100%;
}
.caption {
	position:absolute;
	left:0;
	top:50%;
	width:100%;
	text-align:center;
	color:#000;
}
.caption a.border {
	background-color:rgba(180,180,180,0.5);
	color:#000;
	padding:18px;
	font-size:25px;
    text-decoration:none;
	border-radius:20px;
	target:_blank;
}
.matn {
	color:#777;
	background-color:rgba(240,240,240,0.6);
	text-align:center;
	padding:50px 80px;
	text-align:justify;
	font-family:'fatemeh';
}
.bgimg-2 {
	background-image:url('beach.jpg');
	min-height:400px
}
.bgimg-3 {
	background-image:url('yoga-what.webp');
	min-height:400px;
}